<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-72</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-46</integer>
      <key>f</key>
      <integer>-22</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-44</integer>
      <key>y</key>
      <integer>-50</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>Y</key>
      <integer>-46</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-102</integer>
      <key>V</key>
      <integer>0</integer>
      <key>W</key>
      <integer>-14</integer>
      <key>X</key>
      <integer>-28</integer>
      <key>Y</key>
      <integer>-14</integer>
      <key>a</key>
      <integer>-44</integer>
      <key>c</key>
      <integer>-50</integer>
      <key>d</key>
      <integer>-44</integer>
      <key>e</key>
      <integer>-50</integer>
      <key>g</key>
      <integer>-82</integer>
      <key>o</key>
      <integer>-50</integer>
      <key>q</key>
      <integer>-50</integer>
      <key>u</key>
      <integer>-44</integer>
      <key>v</key>
      <integer>-58</integer>
      <key>w</key>
      <integer>-64</integer>
      <key>x</key>
      <integer>-50</integer>
      <key>y</key>
      <integer>-50</integer>
      <key>z</key>
      <integer>-44</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>28</integer>
      <key>T</key>
      <integer>-88</integer>
      <key>V</key>
      <integer>-82</integer>
      <key>W</key>
      <integer>-74</integer>
      <key>Y</key>
      <integer>-124</integer>
      <key>v</key>
      <integer>-44</integer>
      <key>w</key>
      <integer>-44</integer>
      <key>y</key>
      <integer>-36</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>-14</integer>
      <key>X</key>
      <integer>-22</integer>
      <key>Y</key>
      <integer>-28</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-68</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>Y</key>
      <integer>-28</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>Y</key>
      <integer>-46</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-72</integer>
      <key>J</key>
      <integer>-124</integer>
      <key>a</key>
      <integer>-156</integer>
      <key>c</key>
      <integer>-136</integer>
      <key>d</key>
      <integer>-154</integer>
      <key>e</key>
      <integer>-136</integer>
      <key>f</key>
      <integer>-96</integer>
      <key>g</key>
      <integer>-156</integer>
      <key>m</key>
      <integer>-124</integer>
      <key>n</key>
      <integer>-124</integer>
      <key>o</key>
      <integer>-142</integer>
      <key>p</key>
      <integer>-124</integer>
      <key>q</key>
      <integer>-136</integer>
      <key>r</key>
      <integer>-132</integer>
      <key>s</key>
      <integer>-174</integer>
      <key>u</key>
      <integer>-124</integer>
      <key>v</key>
      <integer>-132</integer>
      <key>w</key>
      <integer>-72</integer>
      <key>x</key>
      <integer>-102</integer>
      <key>y</key>
      <integer>-90</integer>
      <key>z</key>
      <integer>-96</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>C</key>
      <integer>-14</integer>
      <key>J</key>
      <integer>-124</integer>
      <key>O</key>
      <integer>-14</integer>
      <key>a</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>d</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>-72</integer>
      <key>g</key>
      <integer>-88</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>q</key>
      <integer>-52</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-60</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>J</key>
      <integer>-124</integer>
      <key>a</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>d</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>-72</integer>
      <key>g</key>
      <integer>-88</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>s</key>
      <integer>-72</integer>
      <key>u</key>
      <integer>-50</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-22</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-124</integer>
      <key>C</key>
      <integer>-30</integer>
      <key>H</key>
      <integer>-14</integer>
      <key>J</key>
      <integer>-148</integer>
      <key>O</key>
      <integer>-28</integer>
      <key>Q</key>
      <integer>-28</integer>
      <key>S</key>
      <integer>-50</integer>
      <key>a</key>
      <integer>-110</integer>
      <key>c</key>
      <integer>-118</integer>
      <key>d</key>
      <integer>-118</integer>
      <key>e</key>
      <integer>-118</integer>
      <key>f</key>
      <integer>-118</integer>
      <key>g</key>
      <integer>-138</integer>
      <key>m</key>
      <integer>-118</integer>
      <key>n</key>
      <integer>-118</integer>
      <key>o</key>
      <integer>-118</integer>
      <key>p</key>
      <integer>-118</integer>
      <key>q</key>
      <integer>-118</integer>
      <key>r</key>
      <integer>-118</integer>
      <key>s</key>
      <integer>-118</integer>
      <key>t</key>
      <integer>-66</integer>
      <key>u</key>
      <integer>-120</integer>
      <key>v</key>
      <integer>-82</integer>
      <key>w</key>
      <integer>-82</integer>
      <key>x</key>
      <integer>-96</integer>
      <key>y</key>
      <integer>-102</integer>
      <key>z</key>
      <integer>-118</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-160</integer>
      <key>V</key>
      <integer>-66</integer>
      <key>W</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-96</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>V</key>
      <integer>-52</integer>
      <key>Y</key>
      <integer>-30</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>Y</key>
      <integer>-60</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>V</key>
      <integer>-44</integer>
      <key>Y</key>
      <integer>-74</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>A</key>
      <integer>-28</integer>
      <key>J</key>
      <integer>-96</integer>
      <key>c</key>
      <integer>-28</integer>
      <key>g</key>
      <integer>-46</integer>
      <key>j</key>
      <integer>-28</integer>
      <key>s</key>
      <integer>-44</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>132</integer>
      <key>y</key>
      <integer>28</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>-14</integer>
      <key>Y</key>
      <integer>-82</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>f</key>
      <integer>-40</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>f</key>
      <integer>-28</integer>
      <key>j</key>
      <integer>-14</integer>
      <key>y</key>
      <integer>-28</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>-64</integer>
      <key>Y</key>
      <integer>-74</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-74</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-128</integer>
      <key>V</key>
      <integer>-60</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-118</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-96</integer>
      <key>Y</key>
      <integer>-64</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>T</key>
      <integer>-132</integer>
      <key>Y</key>
      <integer>-84</integer>
      <key>j</key>
      <integer>146</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>J</key>
      <integer>-72</integer>
      <key>T</key>
      <integer>-86</integer>
      <key>g</key>
      <integer>-36</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-160</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-64</integer>
      <key>Y</key>
      <integer>-102</integer>
      <key>f</key>
      <integer>-50</integer>
      <key>y</key>
      <integer>-36</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-66</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>T</key>
      <integer>-102</integer>
      <key>Y</key>
      <integer>-88</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-44</integer>
      <key>J</key>
      <integer>-96</integer>
      <key>T</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-82</integer>
      <key>g</key>
      <integer>-14</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>A</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-74</integer>
      <key>T</key>
      <integer>-58</integer>
      <key>Y</key>
      <integer>-58</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>T</key>
      <integer>-74</integer>
      <key>Y</key>
      <integer>-88</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>A</key>
      <integer>-22</integer>
      <key>J</key>
      <integer>-44</integer>
      <key>T</key>
      <integer>-100</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>g</key>
      <integer>-14</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>T</key>
      <integer>-44</integer>
      <key>Y</key>
      <integer>-74</integer>
    </dict>
  </dict>
</plist>
